#!/usr/bin/env python

from setuptools import setup

import glob

setup(
    name='kweb',
    version='__VERSION__',
    description='Teambox web lib',
    packages='.',
    package_dir = {'': 'python'}
    )

